<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.xlayer.f2h.driver">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activity.RequestLogActivity"
            android:label="Request Logs"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".StartUpScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".StartUpScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vts.xlayer.cab.niljyoti.driver.StartUpScreen" />
        </activity>

        <activity
            android:name=".authorization.SignInActivity"
            android:label="@string/title_activity_sign_in" />

        <activity
            android:name=".authorization.SignUpActivity"
            android:label="@string/title_activity_sign_up" />

        <activity
            android:name=".authorization.EnterOTPActivity"
            android:label="@string/title_activity_enter_otp" />

        <service
            android:name=".service.BackgroundService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
        </service>

        <!--<receiver-->
        <!--android:name=".authorization.IncomingSms"-->
        <!--android:permission="android.permission.BROADCAST_SMS">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver
            android:name=".receiver.AlarmCastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

        </receiver>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="Settings" />

        <activity
            android:name=".activity.BookingsActivity"
            android:label="Your Trips" />

        <activity
            android:name=".activity.BookingActionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">

        </activity>

        <activity
            android:name=".dialog.BookingRequestDialog"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:taskAffinity="net.everythingandroid.smspopup.popup"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity
            android:name=".activity.BookingCompleteActivity"
            android:label="Booking is Complete" />

        <activity
            android:name=".activity.DriverReportActivity"
            android:label="Driver Report">
        </activity>

    </application>

</manifest>